.DS_Store
markers-for-android/gen/
.idea
out
markers-for-android/markers-for-android.iml

markers-for-android/bin/
markers-for-android/.classpath
markers-for-android/.project
markers-for-android/.settings/
markers-for-android/project.properties

